@import 'variables.scss';
@import 'price-card.scss';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  color: $color-white;
}

.main-price-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-dark;
}
